.gumbNazaj {
  padding-bottom: 8px;
}
.gumbDenar {
  padding-bottom: 8px;
}
.gumbSpremembe {
  padding-bottom: 8px;
}

#potrdiNovoGeslo {
  margin-left: 20px;
  margin-right: 10px;
}

#zavrniNovoGeslo {
  margin-left: 10px;
}

.wrong-pass {
  color: yellow;
}

.right-pass {
  color: aqua;
}
