<p>
  domaca-stran works!... odgovor strežnika:
</p>
<div *ngFor="let podjetje of seznamPodjetij">
  <button (click)="pridobiZgodovinskePodatkePodjetja(podjetje)" data-toggle="modal" data-target="#modalDelnica">
    {{podjetje.ime}}
  </button>

  <div class="modal fade bd-example-modal-lg" id="modalDelnica" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{trenutnoPodjetjeIme}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div *ngIf="imaTrenutnoPodjetjePodatkeODelnicah()">
              <div *ngFor="let delnica of trenutnePodjetjeDelnice; let i = index">
                <div  *ngIf="i == trenutnePodjetjeDelnice.length-1" >
                  <div style="float: left">
                    <h6>adjusted: {{delnica.adjusted}}</h6>
                    <h6>close: {{delnica.close}}</h6>
                    <h6>open: {{delnica.open + delnica.close}}</h6>
                    <h6>high: {{delnica.high}}</h6>
                    <h6>low: {{delnica.low}}</h6>
                    <h6>volume: {{delnica.volume}}</h6>
                    <h6>datum: {{delnica.datum}}</h6>
                  </div>
                  <div style="float: right">
                    <img href="https://miro.medium.com/max/525/1*p_f8-fZS6VBeVzLWK-RXqw.png" class="pull-right" border="0" alt="poopImage" src="https://miro.medium.com/max/525/1*p_f8-fZS6VBeVzLWK-RXqw.png" width="200" height="200">
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!imaTrenutnoPodjetjePodatkeODelnicah()">
              <h6>Izbrano podjete trenutno nima podatkov o njegovih delnicah</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
